.login-body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('/Usuario/assets/Login-Usuario.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: rgba(175, 162, 162, 0.873);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    margin: 10px;
    text-align: center;
}

.register-box-usuario{
    background-color: rgba(84, 42, 42, 0.912);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    margin: 5px;
    text-align: center;
}

.login-box h2, .register-box-usuario h2,p {
    color: #fff;
}

.login-textbox {
    margin: 20px;
}

.login-textbox label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    text-align: left;
}

.login-textbox input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.login-forgot-password {
    display: block;
    color: #9DD6CB;
    text-decoration: none;
    margin-bottom: 20px;
}

.login-btn {
    background-color: #56C4B5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-box p {
    margin-bottom: 20px;
}

.register-btn {
    background-color: #D7A86E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #3BA18A;
}

.register-btn:hover {
    background-color: #A5783D;
}







.register-body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('/Usuario/assets/Login-Usuario.jpg') no-repeat center center fixed;
    background-size: cover;
}

.register-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(128, 128, 128, 0.5);
}

.register-logo {
    display: flex;
    align-items: center;
}

.register-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.register-logo h1 {
    color: #fff;
    font-size: 24px;
}

.register-login-header {
    display: flex;
    align-items: center;
}

.register-login-header input[type="text"],
.register-login-header input[type="password"] {
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
}

.register-login-header .register-btn {
    background-color: #56C4B5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-forgot-password {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.register-box {
    background-color: rgba(175, 162, 162, 0.873);
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    margin: 10px;
    text-align: center;
}
.register-promo-box{
    background-color: rgba(84, 42, 42, 0.912);
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    margin: 10px;
    text-align: center;
}

.register-box h2, .register-promo-box h2 {
    color: #fff;
    margin-bottom: 20px;
}

.register-double-textbox {
    display: flex;
    justify-content: space-between;
}

.register-double-textbox input {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:5px;
    border: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.register-textbox input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.register-gender-options {
    text-align: left;
    margin-bottom: 20px;
}

.register-gender-options label {
    color: #fff;
    margin-right: 10px;
}

.register-gender-options input {
    margin-right: 5px;
}

.register-btn-usurio {
    background-color: #56C4B5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.register-btn-registrar-user{
    background-color: #56C4B5;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.register-promo-box p {
    color: #fff;
    margin-bottom: 20px;
}

.register-promo-box img {
    width: 80px;
    height: 80px;
    margin-top: 20px;
}
